<%- include("partials/header" , {title : 'CapCoffee'}); %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS\FinalCoffeeProject.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body class="Main">   
        <div class="container-fluid">


<% let eItems = [{itemid : "1",itemname : "FRAPPUCCINO" , itemimg : "img1" , itemprice:"$20"}, 
                {itemid : "2",itemname : "C-MACHIATO" , itemimg : "img2" , itemprice:"$32.5"}, 
                {itemid : "3",itemname : "CAFE MOCHA" , itemimg : "img3" , itemprice:"$27"}, 
                {itemid : "4",itemname : "AMERICANO" , itemimg : "img4" , itemprice:"$23.2"}, 
                {itemid : "5",itemname : "TURKISH COFFEE" , itemimg : "img5" , itemprice:"$24"}, 
                {itemid : "6",itemname : "CAFE CUBANO" , itemimg : "img6" , itemprice:"$29"}, 
                {itemid : "7",itemname : "CAFE LATTE" , itemimg : "img7" , itemprice:"$35"}, 
                {itemid : "8",itemname : "IRISH COFFEE" , itemimg : "img8" , itemprice:"$40"}, 
                {itemid : "9",itemname : "ESPRESSO" , itemimg : "img9" , itemprice:"$19"}, 
                {itemid : "10",itemname : "CORTADO" , itemimg : "img10" , itemprice:"$32"}, 
                {itemid : "11",itemname : "AFFOGATO" , itemimg : "img11" , itemprice:"$34"}, 
                {itemid : "12",itemname : "CAPPUCCINO" , itemimg : "img12" , itemprice:"$41"}, 
                {itemid : "13",itemname : "PLAIN COFFEE" , itemimg : "img13" , itemprice:"$15"}, 
                {itemid : "14",itemname : "ICED COFFEE" , itemimg : "img14" , itemprice:"$37.25"}, 
                {itemid : "15",itemname : "CAFE AU LAIT" , itemimg : "img15" , itemprice:"$40.5"}]; %>
<% let specialItems1 = ""; %>
<% let specialItems2 = ""; %>
<% let specialItems3 = ""; %>
<% let specialItems4 = ""; %>

                
<% let headquarters = [{headname : "Gladoff" , headimage : "image1" ,
                        headbrief : "Gladoff, famous for the roasted coffees."},
                        {headname : "Coffete" , headimage : "image2" ,
                        headbrief : "Coffete, Love icecream coffees!!. Perfect place."},
                        {headname : "Javane" , headimage : "image3" ,
                        headbrief : "Javane, Lava coffees."},
                        {headname : "Capprico" , headimage : "image4" ,
                        headbrief : "Capprico, mouthwatering aroma."},
                        {headname : "Ficole" , headimage : "image5" ,
                        headbrief : "Ficole, Intense darkness of coffee flavour."},
                        {headname : "Vendior" , headimage : "image6" ,
                        headbrief : "Vendor, Most unique cold beverage."}]; %>
                
<% let cities = [{cityid:"1",cityname :"London", cityimage:"image1",
                citydescription:"Most famous branch known for its own way of preparing the coffee. Western style of making the most strong coffee with delicious beans on the top."},
                {cityid:"2",cityname :"Amsterdam", cityimage:"image2",
                citydescription:"Most attractive headquaters is located at Amsterdam,which is owned by one of the relatives of the company. <em>Roasted cappuccino"},
                {cityid:"3",cityname :"Mangolia", cityimage:"image3",
                citydescription:"Main headquarters of <em>Cappuccino</em> is Mangolia,Which was started at 1999 by *****. They have many branches all over the world with variety of coffee blenders."}]; %>


        <section id="cafecoffee">
<!-- --------------------- Header start ------------------------ -->
                <div class="flex header_flex">
                        <div class="coffee text-color"><i class="fas fa-coffee mug arrow-icon"></i>CapCoffee</div>
                        
                        <div class="flex menuitems">

                                <div class="flex profile">
                                        <i class="fas fa-user-tie profile_icon"></i>
                                </div>
                                <div class="profile_unhovered">
                                        <div class="profile_name"><%= Message %>
                                        <p>Developer@CapCoffee</p>
                                        </div>
                                        <%- include("partials/button", {idname:'', buttonname:'Profile' , className:'profile_info user_profile text-color ' , Name:'' , valuename:''}); %>
                                        <%- include("partials/button", {idname:'', buttonname:'Liked' , className:'profile_info liked text-color ' , Name:'' , valuename:''}); %>
                                        <%- include("partials/button", {idname:'', buttonname:'Profile-settings' , className:'profile_info profile_settings text-color ' , Name:'' , valuename:''}); %>
                                        <%- include("partials/button", {idname:'', buttonname:'Dark-Mode' , className:'profile_DarkMode  Dark_mode text-color' , Name:'' , valuename:''}); %>
                        
                                        <form action="/cart" method="get">
                                                <%- include("partials/button", {idname:'',buttonname:'Cart' , className:'profile_info text-color' , Name:'cart' , valuename:'/cart'}); %>
                                        </form>
                                        <form action="/logout" method="post">
                                                <% if(Logout!=false){ %>
                                                <% console.log("Logged? - "+Logout); %>
                                                <input type="hidden" name="Logout" value="<%= Logout %>">
                                                <% } %>
                                                <%- include("partials/button", {idname:'', buttonname:'Log-Out' , className:'profile_info text-color' , Name:'logout' , valuename:'/logout'}); %>
                                        </form>
                                </div>        
                        </div>
</div>
<!-- --------------------- Header ends ------------------------ -->
                <div class="transitions">
                        <div class="flex basic">
                                <div class="Coffee-image"></div>
                                <div class="flex-column weatherDetails">
                                        <% if(Temperature === ""){ %>
                                                <div class="nodescription"></div>
                                        <% }else{ %>
                                                <img class="weather_icon" src="<%= Image %>" alt="Weather-Image">
                                                <div class="weather_content">
                                                        <div class="text-color"><%= Temperature %> °c in <%= Place%></div>
                                                        <div class="description text-color"><%= Description %></div>
                                                </div>
                        
                                        <% } %>
                                </div>
                        </div>
                        <div class="cafecoffee-intro text-color"><em><strong>CapCoffee</strong></em>  was started as a small branch at the beginning and was well developed for buissness . In 2021 , We had good response
                                from our customers....
                                <form action="/more" method="get">
                                        <a href="/more">Read-more</a>
                                </form>
                        </div>
                </div>
                <br>
        </section>

        <section id="services">
                <div class="flex basic services text-color">

                        <div class="sub-services">
                                <i class="fab fa-sourcetree service-icon"></i>
                                <span class="service-title">Environment
                                        <div class="serviceLists serviceName0">
                                                Our infrastructure is mostly filled with greeneries and have a freshly 
                                                grown bean
                                        </div>
                                </span>
                        </div>
                        <div class="sub-services">
                                <i class="fas fa-coffee service-icon"></i>
                                <span class="service-title">Our-Product
                                        <div class="serviceLists serviceName1">
                                                CapCoffee is a product which is available all over the world for its rich aroma.
                                        </div>
                                </span>
                        </div>
                        <div class="sub-services">
                                <i class="fab fa-servicestack service-icon"></i>
                                <span class="service-title">Delivery-Services
                                        <div class="serviceLists serviceName2">
                                                Our services are available 24hours all over the countries for our customers.
                                        </div>
                                </span>
                        </div>
                
                </div>
        </section>

        <section id="specials">

                <div class="flex specialitems text-color">
                        <div class="specialtexts"></div>
                        <div class="flex specials">
                                <% for(let i = 1; i<=4 ; i++){ %>
                                        <% let randomNumberi = Math.floor(Math.random()*eItems.length);  %>
                                        <%  let specialItemsi = eItems[randomNumberi];   %>
                                        <div class="dropmenu3"><%= specialItemsi.itemname %>
                                                <div id="<%= specialItemsi.itemimg %>" class="image"></div>
                                        </div>     
                                <% } %>   
                        </div>
        
                </div>

        </section>
        <section id="menu">
                        <div class="Horizontal-menus text-color">
                                <div class="myTitle text-color">CapCoffee</div>
                                <div class="hamburger">
                                        <div class="lines l1"></div>
                                        <div class="lines l2"></div>
                                        <div class="lines l3"></div>  
                                </div>
                                <span class="hamlists">
                                        <a class="company decorate text-color" href="#cafecoffee">Company</a>
                                        <a class="menus decorate text-color" href="#menus">Menus</a>
                                        <a class="branches decorate text-color" href="#branches">Branches</a>
                                        <a class="about decorate text-color" href="#services">About</a> 
                                        <a class="company decorate text-color" href="#img8">Trendings</a>
                                        <a class="menus decorate text-color" href="#img2">Offers</a>
                                        <a class="branches decorate text-color" href="#">Trips</a>
                                        <a class="about decorate text-color" href="#specials">Specials</a>  
                                </span>
                        </div>
                        <div class="Infrastructures">
                                <div class="Interhead text-color">International Headquarters
                                        <button class="swipe" type="submit"><i class="fas fa-chevron-down"></i></button>
                                </div>
                                <div class="domains">

                                        <% headquarters.map(head =>{ %>
                                                <div class="domain">
                                                        <span class="brief head-color text-color"><%= head.headname %></span>
                                                        <div class="brief img <%= head.headimage %>"></div>
                                                        <div class="brief briefing text-color"><%= head.headbrief %></div>
                                                </div>
                                        <% }); %>

                                </div>
                        </div>
        </section>
<!-- Coffee menus section -->
        <section id="menus">

                <div class="coffeeItems">

                        <% eItems.map((item)=>{ %>
                                <span class="text-color dropmenu" ><%= item.itemname %>
                                        <div id="<%=item.itemimg %>" class="image"></div>

                                        <div class="moreItem">
                                                <p class="cost"><%=item.itemprice %></p>
                                                <form action="/cart" method="post">
                                                        <input type="hidden" name="Itemprice" value="<%= item.itemprice %>">
                                                        <input type="hidden" name="Itemid" value="<%= item.itemid %>">
                                                        <button class="order" name="itemordered" value="<%= item.itemname %>" type="submit">Purchase</button>
                                                </form>
                                                <% const randomRating = (Math.floor(Math.random()*5)+1); %>
                                                <% const randomDecimal = (Math.floor(Math.random()*9)+1); %>
                                                <div class="itemrating"><%= randomRating%>.<%= randomDecimal  %>
                                                        <i class="fas fa-star staricon"></i>
                                                </div>
                                                <i class="fas fa-heart like"></i>
                                        </div>  
                                        <div class="arrow-down"></div>
                                </span>   
                        <%  }); %>                   
                </div>
        </section>

        <!-- Company branches section -->

        <section id="branches" class="Rotational-animation">
                <% cities.map((city) =>{ %>
                        <div class="Rotatational_Boxes Rotational-box<%=city.cityid %>"><%= city.cityname %><div class="Rotational-image <%=city.cityimage %>"></div><p class="text-color head-branch"><%= city.citydescription %></p></div>
                <%  }); %>
                
        </section>

        <section id="footer" class="footer-section text-color">
                <a href="#cafecoffee" role="button" class="redirect"><i class="fas fa-angle-up"></i></a>
                <button class="message" type="submit"><i class="fas fa-envelope"></i></button>
                <form action="/chat" method="post">
                        <div class="flex texts">
                        
                                <div class="flex userChatting">
                                        <div class="typing"><%= Message %></div>
                                        <div class="typing"><%= Robot %></div>
                                </div>
                                
                                <input class="usermessage" type="text" name="usermessage" id="">
                                <button class="message1" type="submit"><i class="fas fa-angle-right"></i></button>
                        </div>
                </form>
                <i class="fab fa-facebook media-icons fb"></i>
                <i class="fab fa-instagram media-icons insta"></i>
                <i class="fab fa-twitter media-icons twitter"></i>
                <i class="fas fa-envelope media-icons envelop"></i>
                <p class="copyright">Copyright&copy;CapCoffee 2021</p>
        </section>
</div>

<section class="flex">
        <%- include("partials/loading"); %>
</section>

        <script src="JAVASCRIPT/finalCoffeeproject.js" type="text/javascript"></script>
</body>
</html>