<%- include("partials/header" , {title : 'Flavors|CapCoffee'}); %>

    <link rel="stylesheet" href="CSS/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>

    <% let similarArray = [ {name:"Galao" , image:"CSS/Images/galao-coffee.jpg"},
                            {name:"Lungo" , image:"CSS/Images/Lungo_coffee.jpg"},
                            {name:"Mazagran" , image:"CSS/Images/mazagran-coffee.jpg"},
                            {name:"Ristretto" , image:"CSS/Images/ristretto.jpg"},
                            {name:"Base-Coffee" , image:"CSS/Images/coffee.jpeg"},
                            {name:"Cold-Brew" , image:"CSS/Images/cold-brew-coffee.jpg"},
                            {name:"Java-Chip" , image:"CSS/Images/galao-coffee.jpg"},
                            {name:"Match-Green-Tea" , image:"CSS/Images/Lungo_coffee.jpg"},
                            {name:"White-Chocolate" , image:"CSS/Images/mazagran-coffee.jpg"},
                            {name:"Cafe-bombon" , image:"CSS/Images/ristretto.jpg"},
                            {name:"Cafe-con-leche" , image:"CSS/Images/coffee.jpeg"},
                            {name:"Cafe-zorro" , image:"CSS/Images/cold-brew-coffee.jpg"},
                            {name:"Flat-coffee" , image:"CSS/Images/coffee.jpeg"}
    ] %>
    <% let randomnumber = Math.floor(Math.random()*similarArray.length); %>
    <% let randomItem = similarArray[randomnumber]; %>

        <div class="flex-column flavor_page"> 
            <button class="desktop_question mobile_hidden">Ask questions</button>
            <div class="flex more-similar-container-1 desktop_question_container">
                Ask your questions
                <form action="/flavors" method="post">
                    <input type="hidden" name="hidden_flavorsInfo" value="<%= getInfo %>">
                    <textarea class="questions" name="questions" id="questions" cols="50" rows="5"></textarea>
                    <button class="btn" type="submit">Ask</button>
                </form>
                <% if(questions.length === 0){ %>
                        <p class="user_question">Post your question</p>
                <% }else{ %>
                    <% questions.map((each)=>{ %>
                        <form action="/flavors" method="post">
                            <% if(each.item.itemname === getInfo){ %>
                                <% console.log(each.item.itemname); %>
                                <div class="flex user_question"><%= each.item.question %>
                                    <input type="hidden" name="hidden_questionid" value="<%= each._id %>">
                                    <button class="delete_icon" name="delete_question" value="delete_question" type="submit"><i class="fas fa-trash"></i></button>
                                    <button class="edit_icon" name="edit_question" value="edit_question" type="submit"><i class="fas fa-edit"></i></button>
                                    <div class="flex question_column">
                                        <input class="question_hidden" type="text" name="question_posted" id="">
                                        <button class="post_hidden" name="" value="" type="submit">Post</button>
                                    </div>
                                </div>
                            <% } %>
                        </form>
                    <% }); %>
                <% } %>
            </div>

            <div class="main-title"><i class="fas fa-coffee mug arrow-icon"></i>
                CAFE-COFFEE
            </div>
            
            <div class="more-container">
                <%- include("partials/button" , {idname:'',buttonname : '+' , className:'flex more',Name:'' , valuename:''}); %>
                <div class="hover">Hoverme</div>
                <div class="flex-column ingredient">Ingredients:
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolores sed distinctio assumenda atque, unde maiores culpa veritatis rem, blanditiis magni. Alias quibusdam non doloribus ratione adipisci molestiae temporibus veritatis!</p>
                </div>
                <% let slicename = getInfo.substring(0,1); %>
                            <% if(getInfo == "FRAPPUCCINO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor1.jpg" alt="FRAPPUCCINO">
                                <p class="receipe"> 
                                    <em>Frappuccino</em> is a milkshake with ice cream, and cappuccino, an espresso coffee with frothed milk.
                                    The original<em>Frappuccino</em> beverage was developed, named, trademarked and sold by<em> George Howell's Eastern Massachusetts</em> coffee shop chain, The Coffee Connection
                                </p>
                            <% }else if(getInfo == "C-MACHIATO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor2.jpg" alt="CARAMEL MACCHIATO">
                                <p class="receipe">
                                    <em>Caramel Macchiato</em> is made with vanilla syrup, steamed milk, espresso and caramel sauce. The espresso in poured on top of the milk leaving
                                    a dark mark on top of the milk foam. Caramel sauce is poured on top of the foam.an espresso coffee with frothed milk.
                                </p>
                            <% }else if(getInfo == "CAFE MOCHA"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor3.jpg" alt="CAFÉMOCHA">
                                <p class="receipe">
                                    <em>Cafe Mocha</em> is a high quality type of coffee made from a specific coffee bean. It's easily confused with the flavored drink also called a mocha, which combines coffee and chocolate. Mocha coffee beans are from the plant species called Coffee arabica, and it was originally only grown in Mocha, Yemen.
                                </p>  
                            <% }else if(getInfo == "AMERICANO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor4.jpg" alt="AMERICANO">
                                <p class="receipe">
                                    <em>Caffe Americano</em> is a type of coffee drink prepared by diluting an espresso with hot water, giving it a similar strength to, but different flavor from, traditionally brewed coffee.
                                </p>
                            <% }else if(getInfo == "TURKISH COFFEE"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor5.jpg" alt="TURKISH COFFEE">
                                <p class="receipe">
                                    <em>Turkish coffee</em> is very finely ground coffee brewed by boiling. Any coffee bean may be used; arabica varieties are considered best, but robusta or a blend is also used.
                                </p>
                            <% }else if(getInfo == "CAFE CUBANO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor6.jpg" alt="CAFECUBANO">
                                <p class="receipe">
                                    <em>Cafe Cubano</em> is a type of espresso that originated in Cuba. Specifically, it refers to an espresso shot which is sweetened.
                                    Cuban espresso as their main ingredient, such as cafe con leche.
                                </p>
                            <% }else if(getInfo == "CAFE LATTE"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor7.jpg" alt="CAFELATTE">
                                <p class="receipe">
                                    <em>Cafe Latte</em> simply means milk in Italian. So latte is not actually a coffee drink. ... The caffe latte often has less foam than a cappuccino and is usually served in a taller cup or glass. A caffe latte is an espresso with milk.
                                </p>
                            <% }else if(getInfo == "IRISH COFFEE"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor8.jpg" alt="IRISH COFFEE">
                                <p class="receipe">
                                    <em>Irish coffee</em> is a cocktail consisting of hot coffee, Irish whiskey, and sugar, stirred, and topped with cream. The coffee is drunk through the cream.
                                </p>
                            <% }else if(getInfo == "ESPRESSO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor9.jpg" alt="ESPRESSO">
                                <p class="receipe">
                                    <em>Espresso</em> is a coffee-brewing method of Italian origin, in which a small amount of nearly boiling water is forced under 9–10 bars of atmospheric pressure through finely-ground coffee beans. Espresso coffee can be made with a wide variety of coffee beans and roast degrees.
                                </p>
                            <% }else if(getInfo == "CORTADO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor10.jpg" alt="CORTADO">
                                <p class="receipe">
                                    <em>Cortado</em> is a beverage consisting of espresso mixed with a roughly equal amount of warm milk to reduce the acidity. The milk in a cortado is steamed, but not frothy and "texturized" as in many Italian coffee drinks.
                                </p>
                            <% }else if(getInfo == "AFFOGATO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor11.jpg" alt="AFFOGATO">
                                <p class="receipe">
                                    <em>Affogato</em> or more traditionally known as "affogato al caffe" is an Italian coffee-based dessert. It usually takes the form of a scoop of fior di latte or vanilla gelato or ice cream topped or "drowned" with a shot of hot espresso.
                                </p>  
                            <% }else if(getInfo == "CAPPUCCINO"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor12.jpg" alt="CAPPUCCINO">
                                <p class="receipe">
                                    <em>Cappuccino</em> is an espresso-based coffee drink that originated in Italy, and is traditionally prepared with steamed milk foam. Variations of the drink involve the use of cream instead of milk, using non-dairy milks, and flavoring with cinnamon or chocolate powder.
                                </p>
                            <% }else if(getInfo == "PLAIN COFFEE"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor13.jpg" alt="PLAIN COFFEE">
                                <p class="receipe">
                                    <em>Plain(Black)</em> coffee is simply coffee that is normally brewed without the addition of additives such as sugar, milk, cream or added flavours. While it has a slightly bitter taste compared to when it is flavoured with additives, many people love a strong cup of black coffee.
                                </p>
                            <% }else if(getInfo == "ICED COFFEE"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor14.jpg" alt="ICED COFFEE">
                                <p class="receipe">
                                    <em>Iced coffee</em> is a type of coffee beverage served chilled, brewed variously with the fundamental division being cold brew – brewing the coffee cold, yielding a different flavor, and not requiring cooling – or brewing normally and then cooling, generally by simply pouring over ice or into ice cold milk.
                                </p>
                            <% }else if(getInfo == "CAFE AU LAIT"){ %>
                                <img class="coffeeMainImages" src="CSS/Images/flavor15.jpg" alt="CAFE AU LAIT">
                                <p class="receipe">
                                    <em>Cafe au lait</em> is coffee with hot milk added. It differs from white coffee, which is coffee with cold milk or other whiteners added.
                                </p>
                            <% } %>

                <form action="/order" method="POST">
                    
                    <div class="userPurchase">
                        <label class="userLabel" for="userInput">Quantity</label>
                        <input type="hidden" name="orderplaced" value="<%= getInfo %>">
                        <input name="nItem" id="userInput" type="text" class="userInput" placeholder="Enter-quantity">
                        <%- include("partials/button" , {idname:'',buttonname : 'Order' , className:'btn1',Name:'',valuename:''}); %>
                    </div>
                    <p class="order_result"></p>

                </form>

            </div>
            <div class="flex more-similar-container">
                <p class="similar_title">Similar Items</p>
                <div class="flex similar_items">

                    <% let similar = randomItem.name.substring(0,1); %>
                    <% if(slicename === similar){ %>
                        <div class="flex-column similar_info">
                                <img  class="coffeeImages" src="<%= randomItem.image %>" alt="<%= randomItem.name %>">
                                <p><%= randomItem.name %></p> 
                        </div>
                    <% }else{ %>
                        <p class="no_similar">No  Similar items</p> %>
                    <% } %>

                    <% similarArray.map((item)=>{ %>  
                        <div class="flex-column similar_info">
                            <img  class="coffeeImages" src="<%= item.image %>" alt="<%= item.name %>">
                            <p><%= item.name %></p>
                        </div>
                    <% }); %> 
                </div>
            </div>
        </div>
        <script src="JAVASCRIPT/flavors.js"></script>
</body>
</html>



